<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>N</string>
      <string>P</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>A_2</string>
      <string>C_2</string>
      <string>D_2</string>
      <string>E_2</string>
      <string>F_2</string>
      <string>G_2</string>
      <string>H_2</string>
      <string>I_2</string>
      <string>J_2</string>
      <string>K_2</string>
      <string>M_2</string>
      <string>N_2</string>
      <string>P_2</string>
      <string>R_2</string>
      <string>S_2</string>
      <string>T_2</string>
      <string>U_2</string>
      <string>V_2</string>
      <string>W_2</string>
      <string>X_2</string>
      <string>Y_2</string>
      <string>Z_2</string>
      <string>A_3</string>
      <string>C_3</string>
      <string>D_3</string>
      <string>E_3</string>
      <string>F_3</string>
      <string>G_3</string>
      <string>H_3</string>
      <string>I_3</string>
      <string>J_3</string>
      <string>K_3</string>
      <string>M_3</string>
      <string>N_3</string>
      <string>P_3</string>
      <string>R_3</string>
      <string>S_3</string>
      <string>T_3</string>
      <string>U_3</string>
      <string>V_3</string>
      <string>W_3</string>
      <string>X_3</string>
      <string>Y_3</string>
      <string>Z_3</string>
      <string>space</string>
      <string>space_2</string>
      <string>space_3</string>
    </array>
    <key>xyz.fontra.lineMetricsHorizontalLayout.zones</key>
    <dict>
      <key>ascender</key>
      <integer>16</integer>
      <key>baseline</key>
      <integer>-16</integer>
      <key>capHeight</key>
      <integer>16</integer>
      <key>descender</key>
      <integer>-16</integer>
      <key>xHeight</key>
      <integer>16</integer>
    </dict>
  </dict>
</plist>
