<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>T</key>
      <integer>-105</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>T</key>
      <integer>-119</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-113</integer>
    </dict>
  </dict>
</plist>
