<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>F_2</key>
      <integer>-31</integer>
      <key>P_2</key>
      <integer>-46</integer>
      <key>T_2</key>
      <integer>-133</integer>
      <key>V_2</key>
      <integer>-82</integer>
      <key>Y_2</key>
      <integer>-103</integer>
      <key>v</key>
      <integer>-45</integer>
    </dict>
    <key>A_2</key>
    <dict>
      <key>T_3</key>
      <integer>-128</integer>
      <key>V_3</key>
      <integer>-97</integer>
      <key>Y_3</key>
      <integer>-154</integer>
      <key>v</key>
      <integer>-60</integer>
    </dict>
    <key>A_3</key>
    <dict>
      <key>F</key>
      <integer>-30</integer>
      <key>T</key>
      <integer>-128</integer>
      <key>V</key>
      <integer>-77</integer>
      <key>Y</key>
      <integer>-159</integer>
      <key>v</key>
      <integer>-30</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>v</key>
      <integer>-82</integer>
    </dict>
    <key>E_2</key>
    <dict>
      <key>v</key>
      <integer>-49</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A_2</key>
      <integer>-133</integer>
    </dict>
    <key>F_2</key>
    <dict>
      <key>A_3</key>
      <integer>-103</integer>
    </dict>
    <key>F_3</key>
    <dict>
      <key>A</key>
      <integer>-97</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>a</key>
      <integer>-149</integer>
      <key>e</key>
      <integer>-156</integer>
      <key>f</key>
      <integer>-81</integer>
      <key>i</key>
      <integer>-156</integer>
      <key>l</key>
      <integer>-37</integer>
      <key>o</key>
      <integer>-162</integer>
      <key>r</key>
      <integer>-149</integer>
      <key>s</key>
      <integer>-168</integer>
      <key>t</key>
      <integer>-68</integer>
      <key>u</key>
      <integer>-162</integer>
      <key>v</key>
      <integer>-137</integer>
      <key>w</key>
      <integer>-174</integer>
      <key>y</key>
      <integer>-137</integer>
    </dict>
    <key>J_2</key>
    <dict>
      <key>a</key>
      <integer>-159</integer>
      <key>e</key>
      <integer>-135</integer>
    </dict>
    <key>J_3</key>
    <dict>
      <key>a</key>
      <integer>-239</integer>
      <key>e</key>
      <integer>-208</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>T_2</key>
      <integer>-92</integer>
      <key>Y_2</key>
      <integer>-144</integer>
    </dict>
    <key>L_2</key>
    <dict>
      <key>T_3</key>
      <integer>-123</integer>
      <key>Y_3</key>
      <integer>-174</integer>
    </dict>
    <key>L_3</key>
    <dict>
      <key>T</key>
      <integer>-174</integer>
      <key>Y</key>
      <integer>-205</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A_2</key>
      <integer>-62</integer>
    </dict>
    <key>P_2</key>
    <dict>
      <key>A_3</key>
      <integer>-87</integer>
    </dict>
    <key>P_3</key>
    <dict>
      <key>A</key>
      <integer>-62</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>Y_2</key>
      <integer>-108</integer>
    </dict>
    <key>R_2</key>
    <dict>
      <key>Y_3</key>
      <integer>-113</integer>
    </dict>
    <key>R_3</key>
    <dict>
      <key>Y</key>
      <integer>-200</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A_2</key>
      <integer>-154</integer>
      <key>O_2</key>
      <integer>-56</integer>
      <key>r</key>
      <integer>-103</integer>
    </dict>
    <key>T_2</key>
    <dict>
      <key>A_3</key>
      <integer>-128</integer>
      <key>r</key>
      <integer>-95</integer>
    </dict>
    <key>T_3</key>
    <dict>
      <key>r</key>
      <integer>-63</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A_2</key>
      <integer>-103</integer>
      <key>a</key>
      <integer>-72</integer>
      <key>e</key>
      <integer>-70</integer>
      <key>i</key>
      <integer>-62</integer>
    </dict>
    <key>V_2</key>
    <dict>
      <key>A_3</key>
      <integer>-97</integer>
      <key>e</key>
      <integer>-140</integer>
    </dict>
    <key>V_3</key>
    <dict>
      <key>A</key>
      <integer>-87</integer>
      <key>e</key>
      <integer>-84</integer>
    </dict>
    <key>Y_2</key>
    <dict>
      <key>A_3</key>
      <integer>-67</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>f_2</key>
      <integer>-73</integer>
      <key>l_2</key>
      <integer>-44</integer>
      <key>p_2</key>
      <integer>-44</integer>
      <key>r_2</key>
      <integer>-37</integer>
      <key>t_2</key>
      <integer>-95</integer>
      <key>v_2</key>
      <integer>-51</integer>
    </dict>
    <key>a_2</key>
    <dict>
      <key>f_3</key>
      <integer>-66</integer>
      <key>l_3</key>
      <integer>-26</integer>
      <key>n_3</key>
      <integer>-44</integer>
      <key>p_3</key>
      <integer>-35</integer>
      <key>t_3</key>
      <integer>-119</integer>
      <key>v_3</key>
      <integer>-44</integer>
      <key>w_3</key>
      <integer>-29</integer>
      <key>y_3</key>
      <integer>-37</integer>
      <key>z_3</key>
      <integer>-34</integer>
    </dict>
    <key>a_3</key>
    <dict>
      <key>t</key>
      <integer>-88</integer>
      <key>v</key>
      <integer>-51</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>l_2</key>
      <integer>-35</integer>
      <key>t_2</key>
      <integer>-66</integer>
    </dict>
    <key>e_2</key>
    <dict>
      <key>f_3</key>
      <integer>-59</integer>
      <key>l_3</key>
      <integer>-44</integer>
      <key>t_3</key>
      <integer>-51</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>a_2</key>
      <integer>-30</integer>
      <key>e_2</key>
      <integer>-59</integer>
      <key>f_2</key>
      <integer>-37</integer>
      <key>o_2</key>
      <integer>-44</integer>
    </dict>
    <key>f_2</key>
    <dict>
      <key>a_3</key>
      <integer>-51</integer>
      <key>e_3</key>
      <integer>-51</integer>
      <key>f_3</key>
      <integer>-53</integer>
      <key>i_3</key>
      <integer>-66</integer>
      <key>o_3</key>
      <integer>-37</integer>
      <key>t_3</key>
      <integer>-62</integer>
    </dict>
    <key>f_3</key>
    <dict>
      <key>a</key>
      <integer>-59</integer>
      <key>e</key>
      <integer>-29</integer>
      <key>i</key>
      <integer>-18</integer>
      <key>o</key>
      <integer>-37</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>e_2</key>
      <integer>-62</integer>
    </dict>
    <key>g_2</key>
    <dict>
      <key>a_3</key>
      <integer>-56</integer>
      <key>e_3</key>
      <integer>-48</integer>
    </dict>
    <key>g_3</key>
    <dict>
      <key>o</key>
      <integer>-36</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>l_2</key>
      <integer>-53</integer>
    </dict>
    <key>l_2</key>
    <dict>
      <key>l_3</key>
      <integer>-53</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>t_2</key>
      <integer>-44</integer>
    </dict>
    <key>o_2</key>
    <dict>
      <key>f_3</key>
      <integer>-37</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>u</key>
      <integer>-101</integer>
      <key>u_2</key>
      <integer>-124</integer>
    </dict>
    <key>q_3</key>
    <dict>
      <key>u</key>
      <integer>-83</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>a_2</key>
      <integer>-29</integer>
      <key>e_2</key>
      <integer>-32</integer>
      <key>l_2</key>
      <integer>-6</integer>
    </dict>
    <key>r_2</key>
    <dict>
      <key>a_3</key>
      <integer>-29</integer>
    </dict>
    <key>r_3</key>
    <dict>
      <key>a</key>
      <integer>-59</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>f</key>
      <integer>-109</integer>
      <key>j</key>
      <integer>-127</integer>
      <key>slash_2</key>
      <integer>-206</integer>
    </dict>
    <key>slash_2</key>
    <dict>
      <key>slash_3</key>
      <integer>-187</integer>
    </dict>
    <key>slash_3</key>
    <dict>
      <key>a</key>
      <integer>-149</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>e_2</key>
      <integer>-51</integer>
      <key>o_2</key>
      <integer>-81</integer>
    </dict>
    <key>t_2</key>
    <dict>
      <key>a_3</key>
      <integer>-22</integer>
      <key>e_3</key>
      <integer>-59</integer>
      <key>o_3</key>
      <integer>-59</integer>
    </dict>
    <key>t_3</key>
    <dict>
      <key>a</key>
      <integer>-67</integer>
      <key>e</key>
      <integer>-66</integer>
      <key>h</key>
      <integer>-37</integer>
      <key>o</key>
      <integer>-66</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>e_2</key>
      <integer>-27</integer>
    </dict>
    <key>v_3</key>
    <dict>
      <key>a</key>
      <integer>-95</integer>
      <key>o</key>
      <integer>-51</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>a_2</key>
      <integer>-73</integer>
      <key>d_2</key>
      <integer>-79</integer>
      <key>e_2</key>
      <integer>-62</integer>
      <key>l_2</key>
      <integer>-110</integer>
      <key>o_2</key>
      <integer>-81</integer>
      <key>r_2</key>
      <integer>-51</integer>
      <key>t_2</key>
      <integer>-125</integer>
    </dict>
    <key>y_2</key>
    <dict>
      <key>a_3</key>
      <integer>-44</integer>
      <key>e_3</key>
      <integer>-62</integer>
      <key>o_3</key>
      <integer>-59</integer>
      <key>t_3</key>
      <integer>-73</integer>
    </dict>
    <key>y_3</key>
    <dict>
      <key>e</key>
      <integer>-53</integer>
      <key>o</key>
      <integer>-22</integer>
      <key>t</key>
      <integer>-66</integer>
    </dict>
  </dict>
</plist>
