<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>A_2</key>
    <string>A__2.glif</string>
    <key>A_3</key>
    <string>A__3.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B_2</key>
    <string>B__2.glif</string>
    <key>B_3</key>
    <string>B__3.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C_2</key>
    <string>C__2.glif</string>
    <key>C_3</key>
    <string>C__3.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D_2</key>
    <string>D__2.glif</string>
    <key>D_3</key>
    <string>D__3.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E_2</key>
    <string>E__2.glif</string>
    <key>E_3</key>
    <string>E__3.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F_2</key>
    <string>F__2.glif</string>
    <key>F_3</key>
    <string>F__3.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G_2</key>
    <string>G__2.glif</string>
    <key>G_3</key>
    <string>G__3.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H_2</key>
    <string>H__2.glif</string>
    <key>H_3</key>
    <string>H__3.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I_2</key>
    <string>I__2.glif</string>
    <key>I_3</key>
    <string>I__3.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>J_2</key>
    <string>J__2.glif</string>
    <key>J_3</key>
    <string>J__3.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>K_2</key>
    <string>K__2.glif</string>
    <key>K_3</key>
    <string>K__3.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L_2</key>
    <string>L__2.glif</string>
    <key>L_3</key>
    <string>L__3.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M_2</key>
    <string>M__2.glif</string>
    <key>M_3</key>
    <string>M__3.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N_2</key>
    <string>N__2.glif</string>
    <key>N_3</key>
    <string>N__3.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O_2</key>
    <string>O__2.glif</string>
    <key>O_3</key>
    <string>O__3.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P_2</key>
    <string>P__2.glif</string>
    <key>P_3</key>
    <string>P__3.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q_2</key>
    <string>Q__2.glif</string>
    <key>Q_3</key>
    <string>Q__3.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R_2</key>
    <string>R__2.glif</string>
    <key>R_3</key>
    <string>R__3.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S_2</key>
    <string>S__2.glif</string>
    <key>S_3</key>
    <string>S__3.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T_2</key>
    <string>T__2.glif</string>
    <key>T_3</key>
    <string>T__3.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U_2</key>
    <string>U__2.glif</string>
    <key>U_3</key>
    <string>U__3.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>V_2</key>
    <string>V__2.glif</string>
    <key>V_3</key>
    <string>V__3.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W_2</key>
    <string>W__2.glif</string>
    <key>W_3</key>
    <string>W__3.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>X_2</key>
    <string>X__2.glif</string>
    <key>X_3</key>
    <string>X__3.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y_2</key>
    <string>Y__2.glif</string>
    <key>Y_3</key>
    <string>Y__3.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Z_2</key>
    <string>Z__2.glif</string>
    <key>Z_3</key>
    <string>Z__3.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a_2</key>
    <string>a_2.glif</string>
    <key>a_3</key>
    <string>a_3.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b_2</key>
    <string>b_2.glif</string>
    <key>b_3</key>
    <string>b_3.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c_2</key>
    <string>c_2.glif</string>
    <key>c_3</key>
    <string>c_3.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d_2</key>
    <string>d_2.glif</string>
    <key>d_3</key>
    <string>d_3.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e_2</key>
    <string>e_2.glif</string>
    <key>e_3</key>
    <string>e_3.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_2</key>
    <string>f_2.glif</string>
    <key>f_3</key>
    <string>f_3.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g_2</key>
    <string>g_2.glif</string>
    <key>g_3</key>
    <string>g_3.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h_2</key>
    <string>h_2.glif</string>
    <key>h_3</key>
    <string>h_3.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i_2</key>
    <string>i_2.glif</string>
    <key>i_3</key>
    <string>i_3.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>j_2</key>
    <string>j_2.glif</string>
    <key>j_3</key>
    <string>j_3.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k_2</key>
    <string>k_2.glif</string>
    <key>k_3</key>
    <string>k_3.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l_2</key>
    <string>l_2.glif</string>
    <key>l_3</key>
    <string>l_3.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m_2</key>
    <string>m_2.glif</string>
    <key>m_3</key>
    <string>m_3.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n_2</key>
    <string>n_2.glif</string>
    <key>n_3</key>
    <string>n_3.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o_2</key>
    <string>o_2.glif</string>
    <key>o_3</key>
    <string>o_3.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p_2</key>
    <string>p_2.glif</string>
    <key>p_3</key>
    <string>p_3.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>q_2</key>
    <string>q_2.glif</string>
    <key>q_3</key>
    <string>q_3.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r_2</key>
    <string>r_2.glif</string>
    <key>r_3</key>
    <string>r_3.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s_2</key>
    <string>s_2.glif</string>
    <key>s_3</key>
    <string>s_3.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>space_2</key>
    <string>space_2.glif</string>
    <key>space_3</key>
    <string>space_3.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t_2</key>
    <string>t_2.glif</string>
    <key>t_3</key>
    <string>t_3.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u_2</key>
    <string>u_2.glif</string>
    <key>u_3</key>
    <string>u_3.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>v_2</key>
    <string>v_2.glif</string>
    <key>v_3</key>
    <string>v_3.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w_2</key>
    <string>w_2.glif</string>
    <key>w_3</key>
    <string>w_3.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x_2</key>
    <string>x_2.glif</string>
    <key>x_3</key>
    <string>x_3.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y_2</key>
    <string>y_2.glif</string>
    <key>y_3</key>
    <string>y_3.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>z_2</key>
    <string>z_2.glif</string>
    <key>z_3</key>
    <string>z_3.glif</string>
  </dict>
</plist>
