<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C1_vert</key>
    <string>C_1_vert.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>slab_C1_R1</key>
    <string>slab_C_1_R_1.glif</string>
    <key>slab_C1_R2</key>
    <string>slab_C_1_R_2.glif</string>
    <key>slab_C1_R3</key>
    <string>slab_C_1_R_3.glif</string>
    <key>slab_C1_R4</key>
    <string>slab_C_1_R_4.glif</string>
    <key>slab_C1_R5</key>
    <string>slab_C_1_R_5.glif</string>
    <key>slab_C2_R1</key>
    <string>slab_C_2_R_1.glif</string>
    <key>slab_C2_R2</key>
    <string>slab_C_2_R_2.glif</string>
    <key>slab_C2_R3</key>
    <string>slab_C_2_R_3.glif</string>
    <key>slab_C2_R4</key>
    <string>slab_C_2_R_4.glif</string>
    <key>slab_C2_R5</key>
    <string>slab_C_2_R_5.glif</string>
    <key>slab_C3_R1</key>
    <string>slab_C_3_R_1.glif</string>
    <key>slab_C3_R2</key>
    <string>slab_C_3_R_2.glif</string>
    <key>slab_C3_R3</key>
    <string>slab_C_3_R_3.glif</string>
    <key>slab_C3_R4</key>
    <string>slab_C_3_R_4.glif</string>
    <key>slab_C3_R5</key>
    <string>slab_C_3_R_5.glif</string>
  </dict>
</plist>
