<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>slab_C1_R2</key>
    <string>slab_C_1_R_2.glif</string>
    <key>slab_C1_R3</key>
    <string>slab_C_1_R_3.glif</string>
    <key>slab_C1_R4</key>
    <string>slab_C_1_R_4.glif</string>
    <key>slab_C1_R5</key>
    <string>slab_C_1_R_5.glif</string>
    <key>slab_C2_R2</key>
    <string>slab_C_2_R_2.glif</string>
    <key>slab_C2_R3</key>
    <string>slab_C_2_R_3.glif</string>
    <key>slab_C2_R4</key>
    <string>slab_C_2_R_4.glif</string>
    <key>slab_C2_R5</key>
    <string>slab_C_2_R_5.glif</string>
    <key>slab_C3_R2</key>
    <string>slab_C_3_R_2.glif</string>
    <key>slab_C3_R3</key>
    <string>slab_C_3_R_3.glif</string>
    <key>slab_C3_R4</key>
    <string>slab_C_3_R_4.glif</string>
    <key>slab_C3_R5</key>
    <string>slab_C_3_R_5.glif</string>
  </dict>
</plist>
